<div class="searchmaindiv">
    <div>
        <div class="mar" id="mar">
            <div class="backandnotfound">
                <button class="goback" onclick="goBack()">Go Back</button>
            </div>
        </div>
    </div>
    <div>
            <div class="sdiv">
            {{#if flights}}
                <div class="findsearch">
                    <p class="searchisfound">We have found the results you were looking for</p>
                </div>
                {{#each flights}}
                <form action="/select" method="get">
                    <div class="divforfound">
                        <ul class="havefound">
                            <li class="flyinfo padd">Depart date: {{departureDate}}</li>
                            <li class="flyinfo">From: {{departFrom}}</li>
                            <li class="flyinfo">To: {{arriveTo}}</li>
                            <li class="flyinfo">Flight Name: {{flightName}}</li>
                            <li class="flyinfo">Airline Code:  {{airline_code}}</li>
                            <div class="continuebtn">
                                <button class="selectbtn" id="continueButton">Select</button>
                            </div>
                        </ul>
                    </div>
                </form>
                
                {{/each}}
                {{!-- <div class="backandnotfound">
                    <button class="goback" onclick="goBack()">Go Back</button>
                </div> --}}
            {{else}}
            <div class="backandnotfound">
                <p class="nofound">There are no results matching your search criteria.</p>
                <button class="goback" onclick="goBack()">Go Back</button>
            </div>
            {{/if}}
        </div>
        
    </div>

    {{!-- <div class="diviv">
        <div>
            <a href="/select"><button>Continue</button></a>
        </div>
    </div> --}}
</div>

<script>
function goBack() {
  window.history.back();
}

</script>